@font-face {
  font-family: "teenlight";
  src: url("font/teen_light-webfont.woff2") format("woff2"),
    url("font/teen_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: fit-content;
  min-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  color: black;
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: "teenLight";
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
form {
  text-align: right;
}
small {
  color: #efddb2;
  position: relative;
  left: 25px;
}
.body {
  border: 0px;
}

.main-card {
  padding: 8px 20px;
  border: 3px solid rgb(251, 206, 143);
  border-radius: 6px;
  background-image: url("img/background.png");
  background-size: cover;
}
.btn {
  color: #305973;
  border-color: #305973;
  max-height: fit-content;
  font-size: 12px;
  border: none;
}
.weather {
  padding: 20px 0px 20px 0px;
}
.current-weather {
  border: 0px;
}

.city {
  padding: 0;
}
#city {
  padding-top: 30px;
  font-size: 50px;
}
.city-input {
  max-height: 30px;
  border: none;
  max-width: 120px;
}
.place-time {
  border: 0px;
}
.row {
  text-align: center;
}
.weekdays {
  padding: 40px 0px 20px 0px;
}
.current-weather,
.place-time {
  background-color: rgba(245, 245, 245, 0);
}
.main-temp {
  font-size: 23px;
}
.temp-today {
  padding: 0;
  position: relative;
  top: -15px;
  font-size: 35px;
}

#wkd-icon {
  color: #ded5c4;
  font-size: 35px;
}
#wkd-icon:hover {
  color: #305973;
}
.conditions {
  font-size: 14px;
}
.date,
.time,
.conditions {
  color: #305973;
}

.low-temp {
  color: #00bbf0;
  font-weight: bold;
}
.high-temp {
  color: #ef7e56;
  font-weight: bold;
}
.wkd-temps .low-temp {
  color: #00bbf0;
}

#today-icon {
  font-size: 70px;
  color: #ded5c4;
}
#today-icon:hover {
  color: #305973;
}
